h1 {
  color: rebeccapurple;
}

img {
  width: 20%;
  animation: rotate-react 4s linear infinite;
}

.logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 10%;
}

@keyframes rotate-react {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
